// Gallery Element

.gallery-wrapper {
  @include padding(2rem null);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  .gallery-img{
    @include margin(0 null null null);
    img {

      border-radius: var(--br);
      box-shadow   : var(--bs);
      height       : 250px;
      object-fit   : cover;
    }
  }
}