.footer {
  @include margin(auto null null null);
  @include padding(1rem null null null);
  background: var(--clr-primary);
  color     : contrast-switch($clr-primary);
  font-size : .9rem;

  a {
    color     : contrast-switch($clr-primary);
    transition: all 125ms ease;

    &:hover {
      color: var(--clr-accent);
    }
  }

  ul {
    list-style: none;
  }

  .footer1 {
    @include padding(2rem null);
    display              : grid;
    grid-template-columns: 1fr;
    gap                  : 2rem;

    @media screen and (min-width: $breakpoint) {
      grid-template-columns: auto 1fr auto auto;
    }

    h5 {
      @include margin(null null 1rem null);
      font-size  : 1.2rem;
      text-shadow: var(--ts);
    }

    .footer-social {
      .social-icon {
        @include padding(.25rem .5rem);
      }
    }

    .footer-address {
      *+* {
        @include margin(1rem null null null);
      }
    }

  }

  .footer2 {
    @include padding(1rem null);
    @include margin(1rem null null);
    background     : var(--clr-primary-dark);
    display        : flex;
    flex-flow      : column nowrap;
    justify-content: center;
    align-items    : center;

    p {
      @include margin(0);
      font-size: .8rem;
      font-weight: var(--fw-l);
      
      color    : contrast-switch($clr-primary);
    }
  }
}