<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if page.meta_description %}
    <meta name="description" content="{{ page.meta_description }}">
    {% endif %}

    <title>{{ page.title ~ ' | ' ~ site.settings.siteName|default('PitonCMS') }}</title>
    <link rel="stylesheet" href="{{ baseUrl() }}/assets/{{ site.settings.theme|default('default') }}/css/main.css">
    <link rel="stylesheet" href="{{ baseUrl() }}/assets/fancybox/fancybox/fancybox.css">
    <link rel="stylesheet" href="{{ baseUrl() }}/admin/highlight/agate.css?v={{ site.environment.assetVersion }}">

</head>

<body>
    {{ include("includes/_navbar.html") }}
    {% block hero %}
    {% endblock hero %}

    <div class="container">
        <main>
            {% block body %}
            {% endblock %}
        </main>
            {% block sidebar %}
            {% endblock %}
    </div>

    {{ include("includes/_footer.html") }}

    <script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/admin/js/dist/front.js?v={{ site.environment.assetVersion }}"></script>
    <script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/assets/{{ site.settings.theme|default('default') }}/js/custom.js"></script>
    <script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/assets/fancybox/fancybox/fancybox.umd.js"></script>
    <script nonce="{{ site.environment.cspNonce }}" src="{{ baseUrl() }}/admin/highlight/highlight.pack.js?v={{ site.environment.assetVersion }}"></script>
    <script nonce="{{ site.environment.cspNonce }}">hljs.initHighlightingOnLoad();</script>

    {% if site.environment.production %}
    {# When adding analytics tracking JS code besure to include the nonce key in the script tags #}

    <!-- Default Statcounter code for wolfmoritz  https://www.wolfmoritz.com -->
    <script nonce="{{ site.environment.cspNonce }}">
    var sc_project=12470024;
    var sc_invisible=1;
    var sc_security="8e09fb0e";
    var sc_https=1;
    </script>
    <script nonce="{{ site.environment.cspNonce }}" src="https://www.statcounter.com/counter/counter.js" async></script>
    <!-- End of Statcounter Code -->
    {% endif %}
</body>

</html>
